@model Bram___grocery_store.Models.Product

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm " style="opacity:0.85; text-align:right; margin:10px; direction:rtl">
            <h3 class="text-danger" style="text-align:center; margin-bottom:4vh;">האם אתה בטוח שברצונך למחוק את המוצר?</h3>

            <p style="font-size:x-large"><strong>שם:</strong>  &nbsp  &nbsp  &nbsp  &nbsp @Model.Name</p>
            <p style="font-size:x-large"><strong>מחיר:</strong> &nbsp &nbsp &nbsp &nbsp @Model.Price</p> 
            <br />
            <img style="width:100%" src="@Model.PhotoUrl" />


            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input style="background-color:#dc3545 !important;" type="submit" value="מחיקה" class="btn btn-danger btn-block" />
            </form>
            <br />
            <form asp-action="Index">
                <input type="submit" value="חזרה לחנות" class="btn btn-success btn-block" />
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
