@model Bram___grocery_store.Models.ProductCart
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="ProductId" class="form-control text-danger btn-block rounded-0" onchange="calculate(value)" min="1" hidden />
                <span asp-validation-for="ProductId" class="text-danger" hidden></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CartId" class="control-label"></label>
                <h2 class="form-control">
                    <script type="text/javascript">
                        (function () {
                           if ( @Context.Session.GetString("userName") != null) {
                                var name = @Context.Session.GetString("userName");
                                document.write(name);
                            }
                       })();
                    </script>
                </h2>
            </div>*@
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div style="visibility:hidden" class="form-group">
                <label asp-for="FinalPrice" class="control-label"></label>
                <input asp-for="FinalPrice" class="form-control" value="0" />
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
