@model IEnumerable<Bram___grocery_store.Models.ProductCart>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center p-3 mt-3  opacity rounded-1 font-weight-bold">העגלה שלי</h2>

<p>
    <a class="btn btn-success" style="color:azure !important; background-color: rgb(16, 124, 28) !important;" asp-controller="Products" asp-action="Index">הוסף מוצר נוסף</a>
</p>

<div class="container btn-block" style="background-color:none !important">
    <h4 class="text-center p-3 mt-3  opacity rounded-1 font-weight-bold" style="align-items:center; direction:rtl;">העגלה ריקה יש להוסיף מוצרים.</h4>
</div>



