@model Bram___grocery_store.Models.User

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/userCreate.css" />
 </head>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm " style=" font-weight:bold; margin:11px;">
                    <h2 style="text-align:center; margin-bottom:2vh; ">הרשמה</h2>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label">שם פרטי</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label">שם משפחה</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">שם משתמש</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">סיסמה</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">אימייל</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div  class="form-group createBtn">
                            <input type="submit" value="יצירת משתמש" class="btn btn-primary createBtnInput " />
                        </div>
                    </form>
                    @if (ViewData["Error"] != null)
                    {
                        <br />
                        <div style="color:red; text-align:center" class="RTL text-danger">@ViewData["Error"]</div>
                        <br />
                    }
                    <div  class="form-group">
                    <form asp-action="Login" class="mb-3">
                        <input type="submit" value="כניסה ללקוחות רשומים" class="btn btn-info btn-block loginBtn" />
                    </form>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
