@model IEnumerable<Bram___grocery_store.Models.ProductCart>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center p-3 mt-3  opacity rounded-1  font-weight-bold">העגלות שלי</h2>


<div class="container btn-block" style="background-color:none !important">
    <h4 class=" opacity p-5 m-5 text-center text-danger" style="align-items:center; direction:rtl;">אין עגלות קודמות.</h4>
</div>



