@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link rel="stylesheet" href="~/css/Background.css" />
</head>
<body class="Background">
    <div class="text-center">
        <h1 class="display-4">ב.ר.א.ם - המקום מספר אחד לפירות וירקות טריים</h1>
        <p>
            הזמינו ירקות ופירות בקלות מהאתר שלנו
            טרי יותר, טעים יותר ומזין יותר
            אז, למה להתפשר? רק בריא רק טרי
        </p>
        <br />
        <br />
        <br />
        <form class="d-flex searchi" asp-controller="Products" asp-action="Search">
            <button style="color:azure;" class="btn btn-gree btn-outline-success" type="submit">חפש</button>
            <input class="form-control me-2" asp-controller="Products" asp-action="Search" type="search"
                   placeholder="חיפוש מוצר..." aria-label="Search" name="product">
        </form>

    </div>
</body>
