@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ב.ר.א.ם - המקום מספר אחד לפירות וירקות טריים</h1>
    <p>
        הזמינו ירקות ופירות בקלות מהאתר שלנו
        טרי יותר, טעים יותר ומזין יותר
        אז, למה להתפשר? רק בריא רק טרי
    </p>
    <a style="background-color: rgb(16, 124, 28) !important;" type="submit" value="התחברות" class="btn btn-success" asp-area="" asp-controller="Users" asp-action="Login">התחברות</a>
    <a style="background-color: rgb(16, 124, 28) !important;" type="submit" value="התחברות" class="btn btn-success" asp-area="" asp-controller="Users" asp-action="Create">הרשמה</a>

</div>
